.searchZone {
  width: 100vw;
  margin: auto;
  background-color: rgb(51, 51, 51);
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, serif;
  color: #fff;
  letter-spacing: 1px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.params {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.searchZone input {
  width: 75%;
  height: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, serif;
  font-size: 20px;
  border: none;
}

.noLink {
  color: inherit;
  text-decoration: none;
  /* display: inline-block; */
}
